# Entorno virtual
.venv/
env/
venv/

# Cache de Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Compilación y ejecutable PyInstaller
dist/
build/
*.spec

# Archivos del sistema y editor
.DS_Store
.vscode/

# Ignorar contenido de datos temporales pero mantener las carpetas
data/Descargas/*
data/Logs/*
data/Backups/*

# Excepciones: Conservar los archivos .gitkeep
!data/Descargas/.gitkeep
!data/Logs/.gitkeep
!data/Backups/.gitkeep